a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

input:focus{
    border: none;
    outline: none;
}
body{
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100%;
    object-fit: cover;
}
.navbar{
    width: 100%;
    height: auto;
    background-color: #a58b69;
    padding: 5px 80px 0px 80px;
}
.navbar-mb{
    display: none;
}

.navbar-link{
    width: 100%;
    height: auto;
    font-size: 1em;
}
.navbar-link > .link-left{
    float: left;
    display: flex;
    align-items: center;
}
.navbar-link > .link-right{
    float: right;
}
.link-left > .item{
    margin-right: 5px;
    margin-left: 5px;
}
.link-right > .item{
    margin-right: 5px;
    margin-left: 5px;
}
.link-left > b{
    opacity: 0.5;
}
.link-right > b{
    opacity: 0.5;
}
.navbar-logo{
    width: 15%;
    margin-right: auto;
}
.navbar-logo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar-search{
    width: 60%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-result{
    width: 100%;
    position:relative;
    margin-top: -5vh;
}
.suggest-box{
    background-color: white;
    height: auto;
    max-height:30vh;
    width:100%;
    position:absolute;
    border-radius:5px;
    z-index:1000;
    top:0;
    padding: 10px;
}
.dis-none{
    display: none;
}
@media screen and (max-width: 1366px){
    .search-result{
        width: 100%;
        position:relative;
        margin-top: -2vh;
    }
}
.search-input{
    background-color: transparent;
    border: none;
    padding: 10px;
    width: 87%;
    background-color: white;
    border-radius: 5px 0px 0px 5px;
}
.search-button{
    background-color: #a58b69;
    padding: 5px 20px 5px 20px;
    border:none;
    color:white;
    font-weight: bold;
    width: calc(13% - 0px);
    border: 5px solid white;
    border-radius: 0px 5px 5px 0px;
}
.navbar-content{
    display: flex;
    justify-content: center;
    align-content: center;
    width:100%;
}
.navbar-cart{
    display: flex;
    align-items: center;
    width: 10%;
    margin-left: auto;
}
.cart-soluong{
    position: relative;
    top:-15px;
    right: 15px;
    background-color: #a04444;
    padding: 10px;
    border-radius: 50%;
    font-size: 0.8em;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-content{
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 30px;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    min-height: 80vh;
}
@media screen and (max-width: 1024px){
    .body-content{
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 30px;
    }
}
.banner{
    width: 100%;
    height: auto;
    display: flex;
}
.slide-anh{
    width: 67.3%;
}
.banner-codinh{
    width: 33.7%;
}
.banner-codinh > .banner-item:first-child{
    width: calc(100% - 10px);
    margin-bottom: 5px;
    margin-left: 5px;
}
.banner-codinh > .banner-item:nth-child(2){
    width: calc(100% - 10px);
    margin-left: 5px;
}
.quang-cao{
    margin-top: 30px;
    margin-bottom: 30px;
}
.danh-muc-noi-bat{
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}
.danh-muc-items{
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.danh-muc-item{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.danh-muc-item:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}
.item-icon{
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.137);
}
.item-title{
    font-family: shopee2021-light;
}
.danh-mucs{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
}
.danh-muc{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.dm-icon{
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    overflow: hidden;
    width: 90px;
    height: 90px;
}
.dm-title{
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    text-align: center;
    font-family: shopee2021-regular;
}
.sanphams{
    margin-top: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
}

.sanpham{
    height: auto;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.329);
    overflow: hidden;
    transition: 0.2s;
}
.sanpham:hover{
    transform: scale(1.05,1.05);
}
.sp-img{
    height: 200px;
    width: 100%;
    overflow: hidden;
}
.sp-title{
    padding: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family: shopee2021-light;
}
.sp-price{
    padding: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.sp-daban{
    font-size: 0.8em;
}
.price{
    color: rgb(139, 1, 1);
    font-size: 1.1em;
}
.sp-chucnang{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
}
@media screen and (max-width: 480px){
    .sanphams{
        margin-top: 10px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
        width: 100%;
    }
    .sanpham{
        height: auto;
    }
    .sp-img{
        height: 150px;
    }
    .sp-price{
        flex-wrap: wrap;
    }
    .price{
        width: 100%;
    }
}
.desiged{
    width: 100%;
    font-family: shopee2021-bold;
    padding: 20px;
    color: white !important;
    text-align: center;
}
.loi-nhan{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 20px 0px;
}
.footer{
    background-color: #a58b69;

}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.click{
    cursor: pointer;
}
.account-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.sidebar{
    width: 18%;
    padding-right: 30px;
}
.noi-dung{
    width: 100%;
    background-color: white;
    height: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    padding: 25px;
    min-height: 70vh;
}
.sidebar-item{
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    transition: 0.1s;
}
.item-sidebar-checked{
    color: #e04545;
    transform: scale(1.05,1.05);
}
.sidebar-item:hover{
    color: #e04545;
    transform: scale(1.05,1.05);
}
.item-logo-sidebar{
    padding-right: 10px;
}
.item-title-sidebar{
    font-family: shopee2021-light;
}
.title-info{
    font-family: shopee2021-regular;
}
.info-content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.edit-form{
    width: 70%;
}
.avatar-img-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    border-left: 1px solid rgba(0, 0, 0, 0.329);
}
.form{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
.demuc-form{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    font-family: shopee2021-regular;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.705);
}
.thongtin-form{
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.9em;
}
.input-form1{
    background-color: white;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 40px;
    padding: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05)
}
.input-form-select{
    background-color: white;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05)
}
.input-form1:focus{
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.choose-file{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.hide-file{
    cursor: pointer;
    background-color:#a58b69;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    padding: 13px 33px; 
}
.input-file{
    cursor: pointer;
    position: relative;
    top:-37px;
    right: 33px;
    opacity: 1;
    width: 150px;
    height: 50px;
    opacity: 0;
}
.menu-dieuhuong{
    position: fixed;
    background-color: #50402c;
    width: 60%;
    height: 100vh;
    z-index: 1000;
    top:0;
    padding: 10px;
    left:-600px;
    display: none;
}
@keyframes open_dh{
    form{
        left:-600px;
    }
    to
    {
        left:0px;
    }
}
@keyframes close_dh{
    form{
        left:0px;
    }
    to
    {
        left:-600px;
    }
}
.open-menu-dieuhuong{
    animation: open_dh 0.3s forwards;
}
.close-menu-dieuhuong{
    animation: close_dh 1s forwards;
}
.address-title{
    display:flex;
    justify-content:space-between;
}
dialog{
    outline: none;
    border: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.329);
    top:0;
}
.dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.dialog-content{
    background-color: white;
    width: 50%;
    height: auto;
    padding: 15px;
    border-radius: 5px;
}
.dialog-head{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
}
.dialog-body{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 100%;
}
.hover-btn{
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: shopee2021-regular;
}
.hover-btn:hover{
    background-color: #a58b69;
    color:white;
}
.flex-center{
    display: flex;
    align-items: center;
    gap:10px;
    padding: 10px;
}
@media screen and (max-width: 846px){
    .navbar{
        display: none;
    }
    .navbar-mb{
        background-color: #a58b69;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px 5px 10px;
    }
    .navbar-mb-logo{
        width: 30%;
    }
    .nutmenu{
        color: white;
    }
    .timkiem{
        color: white;
    }
    .sidebar{
        display: none;
    }
    .noi-dung{
        width: 100%;

    }
    .edit-form{
        width: 100% !important;
    }
    .demuc-form{
        width: 40% !important;
        font-size: 0.8em !important;
    }
    .avatar-img-info{
        width: 100% !important;
        border-top: 1px solid rgba(0, 0, 0, 0.329);
        border-left: 1px solid rgba(0, 0, 0, 0) !important;
    }
    .item-sidebar-checked{
        color: #e0c345 !important;
        transform: scale(1.05,1.05);
    }
    .sidebar-item:hover{
        color: #e0c345 !important;
        transform: scale(1.05,1.05);
    }
    .menu-dieuhuong{
        display: block !important;
    }
    .address-title{
        flex-wrap: wrap;
    }
    .my-address{
        width: 100% !important;
        margin-bottom: 20px;
    }
    .dialog-content{
        width: 90% !important;
    }
    .scroll-dialog{
        max-height: 70vh;
        overflow-y: scroll ;
    }

}
textarea:focus{
    outline: none;
}
.chat{
    width:350px;
    height:400px;
    position:fixed;
    bottom:0;
    right:20%;
    background-color:#a58b69;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    color: white;
}
.chat-on{
    animation: on 0.2s forwards;
}
.chat-off{
    animation: off 0.2s forwards;
}
@keyframes on{
    from{
        bottom:-360px
    }
    to{
        bottom:0;
    }
}
@keyframes off{
    from{
        bottom:0;
    }
    to{
        bottom:-360px;
    }
}
.chat-head{
    display: flex;
    justify-content: space-between;
    height: 10%;
}
.chat-body{
    overflow-y: scroll;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 5px;
}
.chat-footer{
    height: 10%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.tinnhannew {
    position: relative;
    top: -45px;
    right: -15px;
    background-color: #a04444;
    padding: 10px;
    border-radius: 50%;
    font-size: 0.8em;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}